---
import Layout from '../layouts/Layout.astro';
import Menu from '../layouts/Menu.astro';
import Footer from '../layouts/Footer.astro';
import HeaderNav from '../layouts/HeaderNav.astro';
import { page500, text500 } from '../assets/constants';
---

<Layout title={page500}>
	<main class="responsive-x my-14">
		<HeaderNav>
            <h1 class="font-type text-lg text-end">{page500}</h1>
        </HeaderNav>
		
		<div class="mt-7 md:mt-9 grid grid-cols-1 sm:grid-cols-3 gap-7 sm:gap-10 md:gap-16">
			<article class="sm:col-span-2 text-5xl md:text-7xl xl:text-9xl">
                {text500}
			</article>

			<Menu />
		</div>
	</main>

	<Footer />
</Layout>