---
import Layout from '../layouts/Layout.astro';
import Menu from '../layouts/Menu.astro';
import Footer from '../layouts/Footer.astro';
import Subjects from '../layouts/Subjects.astro';
import HeaderNav from '../layouts/HeaderNav.astro';
import { author, description, name, quote, textAbout } from '../assets/constants';
---

<Layout>
	<main class="responsive-x my-14">
        <HeaderNav>
            <h1 class="text-end">{textAbout}.</h1>
        </HeaderNav>

		<div class="mt-7 md:mt-9 grid grid-cols-1 sm:grid-cols-3 gap-7 md:gap-16">
			<article class="sm:col-span-2 space-y-5">
                <div class="space-y-1.5">
                    <h2 class="text-xs text-neutral-600">Experiencia:</h2>
                    <ul class="space-y-2">
                        <li>
                            <time datetime="2024 - 2025" class="font-semibold tracking-tighter text-xs text-neutral-600">Septiembre, 2024 - Enero, 2025</time>
                            <h3 class="font-semibold">Profesor de ciencias</h3>
                            <p class="text-sm">Impartí clases de Programación, Tecnología, y ocasionalmente de Ciencias Exactas, a estudiantes de 8 a 18 años en el Centro de Aprendizaje y Desarrollo de Habilidades MindUp. Dos clases semanales, enfocadas en aplicaciones, programas, código y resolución de problemas. Apliqué conocimientos de paquetería Office, así como conocimientos prácticos y teóricos de programación.</p>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2 class="text-xs text-neutral-600">Educación:</h2>
                    
                </div>

                <div>
                    <h2 class="text-xs text-neutral-600">Objetivo como docente:</h2>
                    
                </div>

                <div>
                    <h2 class="text-xs text-neutral-600">Texto:</h2>
                    
                </div>
			</article>

			<aside class="space-y-7">
				<Subjects />
				<Menu />
			</aside>
		</div>
	</main>

	<Footer />
</Layout>