---
import Layout from '../layouts/Layout.astro';
import Menu from '../layouts/Menu.astro';
import Footer from '../layouts/Footer.astro';
import Subjects from '../layouts/Subjects.astro';
import { author, description, name, quote } from '../assets/constants';
---

<Layout>
	<main class="responsive-x my-14">
		<header>
			<q class="font-serif-italic font-light text-4xl md:text-5xl italic">{quote}</q>
			<figcaption class="mt-2.5 font-serif text-xl">&mdash; {author}</figcaption>
		</header>
		
		<div class="mt-7 md:mt-9 grid grid-cols-1 sm:grid-cols-3 gap-7 sm:gap-10 md:gap-16">
			<article class="sm:col-span-2 space-y-2.5">
				<h1 class="font-medium">Soy <span class="font-type-italic text-black">{name}</span></h1>
				<h2>{description}</h2>
				<p>Mi forma de enseñar consiste en presentar un tema para cuestionarlo, dar espacio a las dudas y luego darles respuestas. No explico para que los alumnos memoricen a corto plazo, sino para que se acerquen a comprender de qué estamos hablando.</p>
				<p>Desde pequeño comprendí las amplias capacidades transformadoras de la educación y cómo puede potenciar a la gente.</p>
				<p>He impartido clases en una escuela privada con grupos reducidos, enseñando a niños y jóvenes. Durante mi propia trayectoria académica, también he sido partícipe en clases de otros profesores para aclarar temas a mis compañeros.</p>
			</article>

			<aside class="space-y-7">
				<Subjects />
				<Menu />
			</aside>
		</div>
	</main>

	<Footer />
</Layout>
