---
import IconArrowLink from "../components/icons/IconArrowLink.astro"
import { linkMail } from "../assets/constants"
---

<footer class="py-5 responsive-x text-xs flex items-center justify-between gap-5">
    <a href={linkMail} class="group flex items-center justify-center gap-1 transition duration-150 hover:text-black select-none">Contactar<IconArrowLink size="13" /></a>
    <time datetime="2025">2025</time>
</footer>