---
import Link from "../components/ui/Link.astro"
---

<nav class="w-full relative space-y-0.5">
    <h2 class="absolute top-0 left-0 text-xs text-neutral-600">Menú</h2>
    <Link link="#" variant="normal" className="justify-end">Contacto</Link>
    <Link link="#" variant="normal" className="justify-end">Sobre mí</Link>
    <Link link="#" variant="normal" className="justify-end">Artículos</Link>
    <Link link="#" variant="normal" className="justify-end">FAQ</Link>
</nav>