---
import { subjects, subjectsName } from '../assets/constants'
---

<nav class="w-full relative space-y-0.5">
    <h2 class="absolute top-0 right-0 sm:-top-6 md:top-0 small">{subjectsName}</h2>
    {
        subjects.map(subject => (
            <p class="md:text-sm text-black">{subject}</p>
        ))
    }
</nav>