---
import { subjects, subjectsName } from '../assets/constants'
---

<nav class="w-full relative space-y-0.5">
    <h2 class="absolute top-0 right-0 text-xs text-neutral-600">{subjectsName}</h2>
    {
        subjects.map(subject => (
            <p class="text-sm">{subject}</p>
        ))
    }
</nav>