---
interface Props {
    link: string,
    className?: string,
    variant?: 'normal' | 'inline' | 'underline',
    target?: string
}

const { link, className, variant = 'inline', target }: Props = Astro.props;

const variantClass = {
    normal: 'flex items-center gap-1 decoration-transparent hover:decoration-professional-100',
    inline: 'inline decoration-professional-100 hover:decoration-professional-200',
    underline: 'flex items-center gap-1 decoration-professional-100 hover:decoration-professional-100'
}
---

<a href={link} target={target} class=`group transition duration-150 ${variantClass[variant]} underline decoration-2 select-none ${className}`>
    <slot />
</a>